*{
    margin: 0;
    padding: 0;
}

main{
    background-color: #F3F4F6;
}

h2{
    font-size: 3rem;
}

.countainer-navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #4B5563;
}

.nav-icone{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.nav-icone > img {
    width: 48px;
    margin-bottom: 10px;
}

.bar-navigation{
    height: 4px;
    width:15%;
    background-color: #b4b4b4;
}

.sActive{
    display: block;
}

.sInactive{
    display:none;
}

.inactiveBtn{
    visibility: hidden;
}

.activeBtn{
    visibility: visible;
}

.section{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.eventsContainer{
    display: grid;
    width: 100%;
    gap:10px;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    justify-items: center;
}
.event > img{
    width: 100%;
}

.event{
    display:flex;
    flex-direction: column;
    width:fit-content;
    background-color: white;
    gap:10px;
    border-radius: 12px;
    padding:20px;
}

.event:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.evantInactive{
    border: 2px solid #D1D5DB;
}
.eventActive{
    border: 2px solid #000000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.price-seats{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price-container{
    background-color: black;
    color:white;
    padding:10px;
    border-radius: 8px;
}

.seats-container{
    background-color: #E5E7EB;
    border-radius: 100px;
    padding:5px;
}
.bookBtn{
    width: 100%;
    height: 50px;
    border: 2px solid #D1D5DB;
    background-color: white;
    border-radius: 8px;
    font-weight: bold;
}
.bookBtn:hover{
    border: 2px solid black;
}

.ticketContainer{
    display:flex;
    flex-direction: column;
    margin: 10px 0;
    gap: 20px 0;
}
.ticket{
    display:flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid #D1D5DB;
    border-radius: 12px;
    padding:20px;
    min-width:500px;
    gap: 15px 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.priceBold , .total{
    font-weight: bold;
    font-size: 1.2em;
}

.ticketBtn{
    display: flex;
    align-items: center;
    gap: 25px;
}

.TickeCount{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numOfTikets{
    font-size: 4em;
}

.numTicketBtn{
    height: 48px;
    width: 48px;
    background-color: white;
    border: 1px solid #D1D5DB;
    border-radius: 50%;
}
.numTicketBtn:hover{
    border: 1px solid #000000;
}

.calculPricing{
    display: flex;
    justify-content: space-between;
 
}



.divisor{
    height: 2px;
    background-color: #b4b4b4;
    border-radius: 10px;
}
@media (min-width: 900px) {
    .eventsContainer {
        grid-template-columns: repeat(3, 300px);
    }
}