*{
    margin: 0;
    padding: 0;
}

main{
    background-color: #F3F4F6;
}


.countainer-navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #4B5563;
}

.nav-icone{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.nav-icone > img {
    width: 48px;
    margin-bottom: 10px;
}

.bar-navigation{
    height: 4px;
    width:15%;
     background-color: #b4b4b4;
}

.sActive{
    display: block;
}

.sInactive{
    display:none;
}

.inactiveBtn{
    visibility: hidden;
}

.activeBtn{
    visibility: visible;
}